* {
  box-sizing: border-box;
}
h1 {
  margin: 1rem 0;
}

html,
body {
  height: 200%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

section {
  background: lightgrey;
  border-bottom: 1px solid #000;
  min-height: 600px;
  margin-top: 2rem;
  outline: 1px solid red;
}

.wrapper {
  max-width: 600px;
  margin: auto;
  outline: 1px solid blue;
}

.container {
  width: 100%;
  height: 600px;
  position: relative;
}

.element {
  width: 200px;
  height: 200px;
  position: absolute;
}

.electric-purple {
  background: #c200fb;
  top: 0;
  left: 0;
}

.raspberry {
  background: #ec0868;
  top: 0;
  right: 0;
}

.ferrari-red {
  background: #fc2f00;
  bottom: 0;
  left: 0;
}

.black {
  background: #000;
  bottom: 0;
  right: 0;
}
